# Java
target/
*.class
*.jar
*.war
*.ear

# Maven
.mvn/
mvnw
mvnw.cmd
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
.vscode/
.project
.classpath
.settings/
*.swp
*.swo

# Project Specific
logs/
.DS_Store

# Docker
.docker/

# Environment
.env
